body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
.background-image{
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url(images/donation13.jpg);
  background-size:cover;
}
.head-element{
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head{
text-align: center;
}
h1{
  text-align: center;
  color: #fff;
}
p{
  font-size: 30px;
  color: #ddd;
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.button{
  border: none;
  outline: none;
  padding: 30px 30px;
  margin-top: 60px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(orange,tomato);
  font-weight: 600;
  font-size: 40px;
}
.second-pera{
  color: gray;
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 50px;
}
.donate-today{
  text-align: center;
  padding-top: 200px;
  font-size: 45px;
}
footer{
  padding: 70px 40px ;
  text-align: center;
  color: #ddd;
  background-color: black
}
h3{
  text-align: center;
  margin: 5px 5px;
  padding-bottom: 30px;
  font-size: 55px;
  color: rgb(238, 81, 64);
  font-family:'Lobster', cursive;
  font-weight: 400;
}
.first-contribute{
display: flex;
align-items: center;
}
.second-contribute{
  display: flex;
  align-items: center;
  
}
.half-width{
width: 100%;
padding-left: 2%;
padding-right: 2%;

}
.half-width img{
width: 100%;
height: auto;
}